.book-details-container {
  > div:nth-child(3) {
    > div:first-child {
      min-width: 70%;
      @media only screen and (max-width: 576px) {
        margin: 0;
        min-height: 100vh;
        min-width: 100vw;
      }
    }
  }
  .book-details-name-header {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .book-details-close-button {
      padding: 10px;
      padding-top: 8px;
      margin-right: 10px;
      margin-top: -10px;
    }
  }
  .books-header {
    padding-left: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  .book-details-books-component {
    display: flex;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    @media only screen and (max-width: 576px) {
      display: block;
    }

    .book-details-image {
      height: 200px;
      padding-right: 20px;
      @media only screen and (max-width: 576px) {
        margin-left: calc(50vw - 100px);
        padding: 0;
        margin-bottom: 15px;
      }
    }
  }
}
