.add-book-header-container {
  display: flex;
  justify-content: space-between;

  .add-book-close-and-title {
    display: flex;
    align-items: center;
  }
}
.add-book-input-container {
  .title-input {
    margin-top: 65px;
  }
}
