.search-select-container {
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 10px;
  @media only screen and (max-width: 576px) {
    margin-top: 60px;
    margin-bottom: -10px;
  }

  form {
    .search-select-component {
      width: 110px;
      @media only screen and (max-width: 576px) {
        margin-bottom: -10px;
      }
    }
    .search-bar-component {
      min-width: 40%;
      margin-left: 5px;
    }
  }
}
