.nav-bar-container {
  .toolbar-container {
    display: flex;
    justify-content: space-between;

    .add-author-button {
      margin-right: 10px;
    }

    .add-book-button {
      margin-left: 10px;
      margin-right: 40px;
    }
  }
}
