.snackbar-container {
  > div:first-child {
    background-color: #43a047;
    display: flex;
  }
  .snackbar-content {
    display: inline-block;

    .success-message {
      justify-content: center;
      display: flex;
      align-items: center;

      > svg:first-child {
        margin-right: 10px;
      }
    }
  }
}
